body{
	background: url(bakg.jpg)no-repeat;
    background-size: cover;
	overflow-y: hidden;
}

#wrapper{
position: absolute; 
width: 1000px; 
min-height: 950px;
margin-left: -500px; 
eft: 50%;
}

.dotablock{
	transform: rotate(-20deg);
	background: gray;
	position: absolute;
	top:190px;
	left:66.5%;
	opacity: 0.6;
	height: 100px;
	width: 150px;
    filter: alpha(Opacity=60);
	border-radius: 40px;
}
.dotablock:hover{
	background: red;
	opacity: 0.2;
	cursor: pointer;
}

